body{
    background-color: #2b2c2c;
   
}
.about{
    margin: 100px;
    background-color: #2b2c2c;
    display: flex;
}
.detail{
    display: flex;
    flex-direction: column;
    padding: 200px;
    margin: 150px;
}
.top{
    display: flex;
    /* margin: 200px; */
    margin-top: 75px;
    margin-bottom: 50px;
}
.short-detail{
padding-top: 30px;
padding-bottom: 30px;
}
.bottom{
   /* margin-left: 50px; */
   margin-top: 20px;
}
.left-img1{
    border-radius: 100%;
    height : 250px;
    width: 200px;
}
.right1{
    justify-content: center;
    padding-left: 20px;   
}
.heading{
    font-family: 'Lexend', sans-serif;
}
.carousel-part{
    padding-left: 150px;
}
.left-heading{
    font-family:"Rosarivo";
    font-size:"60px";
    color:"#b62e2f";
    padding-top: 40px;
}