.detail{
    display: flex;
    flex-direction: column;
    padding: 200px;
    margin: 150px;
}
.top{
    display: flex;
    margin: 100px;
    margin-top: 75px;
    margin-bottom: 50px;
}
.short-detail{
padding-top: 30px;
padding-bottom: 30px;
}
.bottom{
   margin-left: 100px;
   margin-top: 20px;
}